/**GLOBAL**/



body {
    margin: 0;
    padding: 0;
    font-family: "Cormorant garamond", sans-serif;
    font-weight: 300;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255)
    
}



/**all_frogs page**/



.all_frogs {
    margin: 0;
    padding: 0;
    background-image: url("all_frogs_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.all_frogs h2 {
    margin: 0;
    text-align: left;
    font-size: 80px;
    padding-left: 8%;
    padding-top: 40px;
}

.back_button {
    position: relative;
}

.back_button a {
    color: #cfcfcf;
    text-decoration: none;
    margin-top: 0;
    margin-left: 9%;
    padding-top: 20px;
    font-size: 36px;
    text-align: left;
}

.back_button a:hover {
    color: #ffffff;
    
}

.back_button a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #cfcfcf;
    margin-left: 9%;

    position: absolute;
    bottom:0;
    width: 0px;

    transition: all ease-in-out 250ms;
}

.back_button a:hover::before {
    width: 101px;
}








.grid-item {
  background-color: rgb(43, 43, 43);
  text-align: center;
  transition: all ease-in-out 250ms;
}

.grid-container {
    padding: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 380px;
    grid-auto-rows: 380px;
    grid-gap: 42px;
}

.grid-container img {
    object-fit: cover;
    width: 100%;
    height: 68%;
}

.grid-item a {
    color: #cfcfcf;
    text-decoration: none;
    margin: 0;
    font-size: 30px;
    
}

.grid-item:hover{
    transform: scale(1.1);
}

.grid-item h3 {
    color: #cfcfcf;
    font-size: 15px;
    margin-top: 0;
    font-style: italic;
}



/**NAV BAR**/


  

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #000000;
}

header::after {
    content: '';
    display: table;
    clear: both;
}


nav {
    text-align: center;
}

nav ul {
    margin: 0;
    list-style:none;
}

nav li {
    display: inline-block;
    margin-left: 46px;
    padding-top: 5px;
    padding-bottom: 5px;

    position: relative;
}

nav a {
    text-align: center;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

nav a:hover {
    color: #ffffff;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #cfcfcf;

    position: absolute;
    bottom:0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}





/**HOME PAGE**/

.home {
    margin: 0 auto;
    padding: 0px;
    
}

.main {
    margin: 0 auto;
    width: 100%;
    height: 750px;
    padding: 0px;

    background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(17,25,1,0) 66%), url("home_page.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}


.main h2 {
    padding-top: 135px;
    padding-left: 30px;
    margin: 0;
    text-align: left;
    font-size: 60px;
    color: white;
}

.main h3 {
    margin: 0 auto;
    padding: 0;
    padding-left: 30px;
    text-align: left;
    color: white;
}

.home img {
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.random_frog_container {
    padding-left: 150px;
    padding-right: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 75px;
    margin: 25px 60px;
    height: 43vh;
    background-color: #00000000;
}

.random_frog_item {
    background-color: #474747;    
}

.link_container {
    position: relative;
}

.home h4 {
    margin: 0;
    padding-top: 0;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
}

.home a {
    padding-left: 15px;
    text-align: left;
    color: #cfcfcf;
    text-decoration: none;
}

.home a:hover {
    color: #ffffff;
}

.home a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #cfcfcf;
    margin-left: 15px;
    position: absolute;
    bottom: 0px;
    width: 0px;

    transition: all ease-in-out 250ms;
}

.home a:hover::before {
    width: 85px;
}

.discover {
    padding-top: 0px;
    padding-left: 30px;
    margin: 0 auto;

    text-align: left;
    font-size: 55px;
    color: white;
}

