{%extends "layout.html"%}
{%block content%}


<h1>About</h1>
<div class = "about">
    <p>
        Welcome to our website dedicated to the intriguing world of poisonous frogs! 
        These frogs are undeniably captivating with their vibrant colors and intricate
        patterns, which serve as nature's way of saying, "Caution, I'm a threat!"
        Even though they may be small in size, some poison dart frogs pack a powerful 
        punch with their toxins, just a tiny amount of which can pose significant risks to humans. 
        As you explore our site, you'll delve into their habitats, like rainforests, swamps, and jungles,
        and discover their crucial roles in these ecosystems. At the core of our website lies a 
        comprehensive frog database, designed for everyone, not just experts. Our user-friendly 
        search tools make it a breeze to access information about different frog species, their
        lifestyles, and their natural habitats. Join us on this exciting journey as we uncover
        the world of poisonous frogs together!
    </p>
</div>

{%endblock%}