{%extends "layout.html"%}
{%block content%}


<h1 class="explore">Explore</h1> 
<div class = "input_container">
<form method="post" id="explore">
    <h2>Country: <input list = "countries" name = "country" maxlength = "20" autocomplete="off"></h2>
    <datalist id = "countries">
        <!--list possible search inputs -->
        {%for item in countries %}
            <option value= "{{item[1]}}">
        {%endfor%}
    </datalist>

    <h2>Habitat: <input list = "habitats" name = "habitat" maxlength = "20" autocomplete="off"></h2>
    <datalist id = "habitats">
        <!--list possible search inputs -->
        {%for item in habitats %}
            <option value= "{{item[1]}}">
        {%endfor%}
    </datalist>

    <h2>Prey: <input list = "preys" name = "prey" maxlength = "20" autocomplete="off"></h2>
    <datalist id = "preys">
        <!--list possible search inputs -->
        {%for item in preys %}
            <option value= "{{item[1]}}">
        {%endfor%}
    </datalist>

    <h2>Predator: <input list = "predators" name = "predator" maxlength = "20" autocomplete="off"></h2>
    <datalist id = "predators">
        <!--list possible search inputs -->
        {%for item in predators %}
            <option value= "{{item[1]}}">
        {%endfor%}
    </datalist>   

    <h2>Status: <input list = "status" name = "statuses" maxlength = "20" autocomplete="off"></h2>
    <datalist id = "status">
        <!--list possible search inputs -->
        {%for item in statuses %}
            <option value= "{{item[1]}}">
        {%endfor%}
    </datalist>   

    <!--default sort key-->
    <input type="hidden" name="statuses" value="1">

    <h2><input type = "submit" value = "Search"></h2>

</form>
</div>


<div class = "discover">
    <h2>Discover:</h2>
    <div class = "random_frog_container">
        {%for item in frogs %}
            <div class = "random_frog_item">
                <img src = "{{item[2]}}" />
                <h4>{{item[1]}}</h4>
                <a href = "/frog/{{item[0]}}"> ☰Learn more</a>
            </div>
        {%endfor%}
    </div>
</div>

{%endblock%}