{%extends "layout.html"%}
{%block content%}


<div class = "title">
    <h2>{{frog[1]}}</h2>
    <h3>{{frog[4]}}</h3>
</div>


<div class = "info_container">

    <img src = "/{{frog[2]}}" />
    
    <div class = "info">
        <h2>Size:</h2>
        {%if frog[5] != frog[6] %}
            <p>{{frog[5]}}-{{frog[6]}} cm</p>
        {%else%}
            <p>{{frog[6]}} cm<p>
        {%endif%}
        
        <h2>Status:</h2>
        <p>{{status[1]}}</p>

        <h2>Countries:</h2>
        <p>
            {%for item in country %}
                {{item[1]}}{{ "," if not loop.last }}
            {%endfor%}
        </p>

        <h2>Prey:</h2>
        <p>
            {%for item in prey %}
                {{item[1]}}{{ "," if not loop.last }}
            {%endfor%}
        </p>

        <h2>Predators:</h2>
        <p>
            {%for item in predator %}
                {{item[1]}}{{ "," if not loop.last }}
            {%endfor%}
        </p>

        <h2>Habitats:</h2>
        <p>
            {%for item in habitat %}
                {{item[1]}}{{ "," if not loop.last }}
            {%endfor%}
        </p>

    </div>

    <p class = "description">{{frog[3]}}</p> 

</div>


{%endblock%}