{%extends "layout.html"%}
{%block content%}


<div class = "title">
    <h2>{{frog[1]}}</h2>
    <h3>{{frog[4]}}</h3>
</div>


<div class = "info_container">

    <img src = "/{{frog[2]}}" />
    
    

    <div class = "info">
        {%if frog[5] != 0 %}
            <p>size: {{frog[5]}}-{{frog[6]}} cm</p>
        {%else%}
            <p>size: {{frog[6]}} cm<p>
        {%endif%}

        <p>status: {{status[1]}}</p>


        <p>
            countries:
            {%for item in country %}
                {{item[1]}}{{ "," if not loop.last }}
            {%endfor%}
        </p>

    
        <p>
            prey:
            {%for item in prey %}
                {{item[1]}}{{ "," if not loop.last }}
            {%endfor%}
        </p>


        <p>
            predators:
            {%for item in predator %}
                {{item[1]}}{{ "," if not loop.last }}
            {%endfor%}
        </p>

    
        <p>
            habitats:
            {%for item in habitat %}
                {{item[1]}}{{ "," if not loop.last }}
            {%endfor%}
        </p>

    </div>

    
</div>

<p class = "description">{{frog[3]}}</p> 

{%endblock%}