{%extends "layout.html"%}
{%block content%}

<h2>{{frog[1]}}</h2>
<h2>{{frog[4]}}</h2>
<p>{{frog[3]}}</p> 

<img src = "{{frog[2]}}" />

{%if frog[5] != 0 %}
<h2>{{frog[5]}}-{{frog[6]}} cm</h2>
{%else%}
<h2>{{frog[6]}} cm</h2>
{%endif%}

<h2>status: {{status[1]}}</h2>

<h2>countries: </h2>
{%for item in country %}
    <p>{{item[1]}}</p>
{%endfor%}

<h2>prey:</h2>
{%for item in prey %}
    <p>{{item[1]}}</p>
{%endfor%}

<h2>predators:</h2>
{%for item in predator %}
    <p>{{item[1]}}</p>
{%endfor%}

<h2>habitats:</h2>
{%for item in habitat %}
    <p>{{item[1]}}</p>
{%endfor%}


{%endblock%}