{%extends "layout.html"%}
{%block content%}

<div class = "home">
    <div class = "main">
        <h2>Poisonous frogs</h2>
        <h3>Frogs are pretty cool i guess</h3>
    </div>
    <h2 class = "discover">Discover:</h2>
    <div class = "random_frog_container">
        {%for item in frogs %}
            <div class = "random_frog_item">
                <img src = "{{item[2]}}" />
                <h4>{{item[1]}}</h4>
                <div class = "link_container">
                    <a href = "/frog/{{item[0]}}"> ☰Learn more</a>
                </div>
            </div>
        {%endfor%}
    </div>
    
</div>




{%endblock%}