{%extends "layout.html"%}
{%block content%}

<div class = "home">

    <h1>Poisonous frogs</h1>
    <h3>Frogs are pretty cool i guess</h3>

    <div class ="content_wrapper">
        <div class = "content">
            <a href="/all_frogs">
                <h2>Frogs</h2>
                <p>over 200 billion frogs to choose from!</p>
                <button class="button">
                    Learn More
                </button>
            </a>
        </div>

        <div class = "content">
            <a href="/explore">
                <h2>Explore</h2>
                <p>Find a specific frog</p>
                <button class="button">
                    Learn More
                </button>
            </a>
        </div>

        <div class = "content">
            <a href="/contact">
                <h2>Frogs</h2>
                <p>Any questions? Feel free to ask.</p>
                <button class="button">
                    Learn More
                </button>
            </a>
        </div>
    </div>
</div>




{%endblock%}