{%extends "layout.html"%}
{%block content%}


<form method="post" enctype="multipart/form-data" id="10">
    <div class = "insert_container">
    <h1>Insert</h1>
    <h2>Name:<input list = "frogs" name = "name" maxlength = "40" autocomplete="off" required></h2>
        <datalist id = "frogs">
            <!--list exiisting frog names-->
            {%for item in frogs %}
                <option value= "{{item[1]}}">
            {%endfor%}
        </datalist>
    
    <h2>Scientific Name:<input list = "scientific_name" name = "scientificName" maxlength = "40" autocomplete="off" required></h2>
        <datalist id = "scientific_name">
            <!--list exiisting frog names-->
            {%for item in frogs %}
                <option value= "{{item[4]}}">
            {%endfor%}
        </datalist>
    
    <h2>Minimum Size (cm):<input type = "number" name = "min_size" min="0" max="50" step="0.1" required></h2>

    <h2>Maximum Size (cm):<input type = "number" name = "max_size" min="0" max="50" step="0.1" required></h2>
    
    <h2>Status:<input list = "statuses" name = "status" maxlength = "30" autocomplete="off" required></h2>
        <datalist id = "statuses">
            <!--list exiisting frog names-->
            {%for item in statuses %}
                <option value= "{{item[1]}}">
            {%endfor%}
        </datalist>

    <h2>Image:</h2>
    <input type = "file" name = "image" accept=".png, .jpeg, .jpg" required>
        
    <h2>Description:</h2>
     <textarea name="description" placeholder="description" maxlength="1000" rows="8" cols="125"></textarea>


    <h2>Countries: <button type="button" onclick="addCountry()">Add</button> </h2>
    <div id="countryFieldContainer">
        <input list = "countries" name = "country" maxlength = "40" autocomplete="off">
            <datalist id = "countries">
                <!--list existing countries that can be used-->
                {%for item in countries %}
                    <option value= "{{item[1]}}">
                {%endfor%}
            </datalist>
    </div>


    <h2>Habitats: <button type="button" onclick="addHabitat()">Add</button> </h2>
    <div id="habitatFieldContainer">
        <input list = "habitats" name = "habitat" maxlength = "40" autocomplete="off" required>
            <datalist id = "habitats">
                
                {%for item in habitats %}
                    <option value= "{{item[1]}}">
                {%endfor%}
            </datalist>
    </div>


    <h2>Prey: <button type="button" onclick="addPrey()">Add</button> </h2>
    <div id="preyFieldContainer">
        <input list = "preys" name = "prey" maxlength = "40" autocomplete="off" required>
            <datalist id = "preys">
                
                {%for item in preys %}
                    <option value= "{{item[1]}}">
                {%endfor%}
            </datalist>
    </div>


    <h2>Predators: <button type="button" onclick="addPredator()">Add</button> </h2>
    <div id="predatorFieldContainer">
        <input list = "predators" name = "predator" maxlength = "40" autocomplete="off" required>
            <datalist id = "predators">
                
                {%for item in predators %}
                    <option value= "{{item[1]}}">
                {%endfor%}
            </datalist>
    </div>

    <input type = "submit" value = "Submit" class="button">
    </div>
</form>

<!--Buttons-->
<script>
    var countryContainer = document.getElementById("countryFieldContainer");  
    var countryInput = countryContainer.innerHTML //get html of the input we want to copy

    var removeButton = '<button type="button" onclick="removeInputField(this)">Remove</button>' //html of remove button

    var habitatContainer = document.getElementById("habitatFieldContainer");  
    var habitatInput = habitatContainer.innerHTML 

    var preyContainer = document.getElementById("preyFieldContainer");  
    var preyInput = preyContainer.innerHTML 

    var predatorContainer = document.getElementById("predatorFieldContainer");  
    var predatorInput = predatorContainer.innerHTML 

    
    //adds new input field
    function addCountry() {
        var field = document.createElement("div"); //create div element that will contain remove button and input field
        field.innerHTML = countryInput+removeButton;
        countryContainer.appendChild(field);
    }

    function addHabitat() {
        var field = document.createElement("div"); 
        field.innerHTML = habitatInput+removeButton;
        habitatContainer.appendChild(field);
    }

    function addPrey() {
        var field = document.createElement("div");
        field.innerHTML = preyInput+removeButton;
        preyContainer.appendChild(field);
    }

    function addPredator() {
        var field = document.createElement("div"); 
        field.innerHTML = predatorInput+removeButton;
        predatorContainer.appendChild(field);
    }

    function removeInputField(button) {
        button.parentNode.parentNode.removeChild(button.parentNode); //delete div element that contains button and input field
    }

</script>

{%endblock%}