{%extends "layout.html"%}
{%block content%}

<div class = "all_frogs">
  <h2>Results:</h2>
  <div class = "back_button">
    <a href = "javascript:history.back()"> ←Back</a>
  </div>

  <!--datafrompreviousform-->
<form method = "POST" id="form_data">
  <input type="hidden" name="country" value="{{formData.country.data }}">
  <input type="hidden" name="habitat" value="{{formData.habitat.data }}">
  <input type="hidden" name="prey" value="{{formData.prey.data }}">
  <input type="hidden" name="predator" value="{{formData.predator.data }}">
  <input type="hidden" name="statuses" value="{{formData.statuses.data }}">
  <select class="sorting-dropdown" name="sort_key">
    <option value="1" {%if sort_key == "1"%}selected{% endif %}>Sort by Name</option>
    <option value="5" {%if sort_key == "5"%}selected{% endif %}>Sort by Size</option>
    <option value="4" {%if sort_key == "4"%}selected{% endif %}>Sort by Scientific Name</option>
  </select>
</form>
  {% if frogs | length != 0 %}
  <div class="grid-container">
      {%for item in frogs|sort(attribute=sort_key) %}
          <div class = "grid-item">
            <a href = "/frog/{{item[0]}}"><img src = "{{item[2]}}" /></a>  
            <a href = "/frog/{{item[0]}}"> {{item[1]}}</a>
            <h3>{{item[4]}}</h3>
        </div>
      {%endfor%}

  </div>
  {% else %}
  <h2>No search results.</h2>
  {% endif %}
</div>



<script>
  const dropdown = document.querySelector(".sorting-dropdown");
  dropdown.addEventListener("change", function () {
    const selectedValue = dropdown.value;
    var sortKey;
    
    sortKey = selectedValue;
    var form = document.getElementById("form_data")
    
    form.submit()

    //user cannot go back 
    window.history.replaceState({}, '', window.location.href)

  });
</script>
  
{%endblock%}